/* @media(max-width:1440px) {} */
@media(max-width:1366px) {}

/* @media(max-width:1320px) {} */
/* @media(max-width:1290px) {} */
@media(max-width:1140px) {}

@media(max-width:1024px) {
}

@media(max-width:992px) {
    .cards6 {
        display: flex;
        align-items: center;
        overflow: hidden;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }
    
    .card11 {
        scroll-snap-align: center;
        max-width: 500px;
        flex-shrink: 0;
    }
    
    .top {
        margin: 30px 0;
        max-width: 354px;
        width: 100%;
    }
}

@media(max-width:768px) {
     .cards6 {
    display: flex;
    align-items: center;
    overflow: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.card11 {
    scroll-snap-align: center;
    max-height: 500px;
    flex-shrink: 0;
    overflow: hidden;
}
.cards12 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.menu2{
    padding: 20px 0;
}
}

/* @media(max-width:736px) {} */
/* @media(max-width:734px) {} */
@media(max-width:684px) {
    .txt3 {
        padding: 0;
        color: #fff;
        font-size: 23px;
    }
    .cards5__img{
     max-width: 229px;
    width: 100%;
    }
    .txt4 {
        max-width: 314px;
        font-family: 'Montserrat';
        font-size: 18px;
        text-align: center;
    }
    .txt7{
        font-size: 18px;
    }
}

@media(max-width:667px) {
    .cards5__img {
        max-width: 229px;
        width: 24%;
    }
    .txt2 {
        padding: 0 65px;
        font-size: 17px;
        color: #fff;
        width: 400px;
        text-align: center;
    }
    .top {
        margin: 30px 0;
        max-width: 354px;
        width: 44%;
    }
    .cards4 {
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .txt3 {
        padding: 0;
        color: #fff;
        font-size: 21px;
        text-align: center;
    }
    .cards__icon {
        padding-left: 28px;
    }
    .nav {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .nav__card {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .nav__cards {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 19px;
    }
    .nav__list {
        display: flex;
        margin: 19px;
    }
}
@media(max-width:576px) {

    .title{
        text-align: center;
    }
    .cards3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    
    .txt7 {
        font-size: 15px;
        text-align: center;
    }
    .cards4__img {
        max-width: 255px;
    }
    .cards5 {
        padding: 49px 0;
        color: #fff;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    } .platform4__img{
        height: 3px;
        width: 100%;
        overflow: hidden;
        margin: 32px 0;
    }
    
}
@media(max-width:414px) {
    .cards4__img{
    max-width: 255px;
    }
    .platform4__img{
        height: 3px;
        width: 100%;
        overflow: hidden;
    }
    
    .platform1 {
        background: url(../img/Header.png) no-repeat center/ cover;
        padding: 100px 0;
    }
}

/* @media(max-width:412px) {} */
@media(max-width:375px) {
    .txt2{
        width: unset;
    }
}

@media(max-width:360px) {
    .nav__link {
        font-size: 20px;
        color: #FFFFFF;
        padding: 0px 22px;
    }
}

@media(max-width:320px) {}